/* .btn-primary{
    background-color: #334965 !important;
    border-color: #334965 !important;
  }

  
  .btn-outline-primary{
    background-color: #334965 !important;
    border-color: #334965 !important;
  }

  .table-info{
    background-color: #334965 !important;
  } */